@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx}";

@theme {
  --font-family-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family-sans);
  background-color: #0f172a;
  color: #f8fafc;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
